body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #555;
}

header {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0 0;
  text-align: center;
}

header h1 {
    font-size: 3em;
    margin: 10px 0 10px;
    color: #990000;
}

header h1 span {
    color: #333;
}

header h2 {
    font-size: 1.1em;
    color: #333;
    font-family: 'Lato', sans-serif;
}

header p {
    font-size: 1em;
    color: #333;
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: 0.9em;
    font-family: 'Lato', sans-serif;
    color: #990000;
}

a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: #990000;
}
a:active {
  text-decoration: none;
  color: inherit;
}

.about-me {
  padding: 10px 0 0;
  font-family: 'Lato', sans-serif;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center; /* Vertically center elements within columns */
  margin-bottom: 20px; /* Optional: Add margin below the header */
}

.social-media {
  align-items: flex-start;
  justify-content: flex-start;
  color: #333;
}

.contact-info {
  text-align: left;
  font-size: 0.7em;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 0px;
  justify-self: center;
}

.content {
  font-family: 'Lato', sans-serif;
  max-width: 1100px;
  display: grid; /* Use CSS Grid for desired layout */
  grid-template-columns: 4fr 2fr;
  grid-gap: 0px; /* Gap between items */
  padding: 20px;
  margin: 0 auto;
}

.content h2 {
  position: relative; /* Enable positioning of pseudo-element */
  display: inline-block;
  padding: 10px; /* Maintain padding for content */
  color: white; /* Text color for headings */
}

.content h2::before {
  content: ""; /* Empty content for pseudo-element */
  position: absolute; /* Position element relative to h2 */
  top: 0; /* Align top with heading */
  left: 0; /* Align left with heading */
  width: 100%; /* Match width of h2 content */
  height: 100%; /* Match height of heading */
  background-color: #990000; /* Set background color */
  z-index: -1; /* Place background behind text content */
}

.main-column,
.side-column {
  padding: 5px;
}

.single-column {
  grid-column: 1 / span 2;
}

.item {
    width: 95%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: baseline;
    align-content: space-between;
}

.item h3 {
    font-size: 1.2em;
    color: #333;
    text-align: left;
    grid-row: 1;
    margin-bottom: 0;
}

.item h4 {
    font-size: 0.7em;
    color: black;
    text-align: right;
    grid-row: 1;
    margin-bottom: 0;
}

.item p {
    grid-row: 2;
    grid-column: 1 / span 2;
}

.grant {
    width: 95%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: baseline;
    align-content: space-between;
}

.grant h3 {
    font-size: 1.2em;
    color: #333;
    text-align: left;
    grid-row: 1;
    margin-bottom: 0;
}

.grant h4 {
    font-size: 0.7em;
    color: black;
    text-align: right;
    grid-row: 1;
    margin-bottom: 0;
}

.grant p {
    grid-row: 2;
    grid-column: 1 / span 2;
}

.pub {
    display: grid;
    grid-template-columns: 1fr;
}

.pub p {
  margin-bottom: 0;
}

.me{
    color: #990000;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.project {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: baseline;
    align-content: space-between;
}

.project h3 {
    font-size: 1.2em;
    color: #333;
    text-align: left;
    grid-row: 1;
    margin-bottom: 0;
    grid-column: 1 / span 2;
}

.school {
  grid-template-columns: 1fr;
}
.school h3 {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
}
.school h4 {
    font-size: 0.8em;
    color: #990000;
    margin-top: 0;
    margin-bottom: 10px;
}
.school p {
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 30px;
}


/* Media Queries for Mobile and Tablets  */
@media only screen and (max-width: 768px) {

  .header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: auto; /* Reset grid-column to default behavior */
  }

  .social-media {
    justify-content: center;
    margin-bottom: 20px;
  }

  .contact-info {
    text-align: center;
    font-size: 0.7em;
  }

  .content {
    grid-template-columns: 1fr; /* Single column for mobile */
    grid-gap: 10px; /* Reduce gap between content on mobile */
  }

  .main-column,
  .side-column,
  .single-column { /* Target all grid items */
    grid-column: auto; /* Reset grid-column to default behavior */
  }

  .item {
      grid-template-columns: 1fr;
  }

  .item h3 {
      grid-row: 1;
  }
  .item h4 {
      grid-row: 2;
      text-align: left;
  }
  .item p {
      grid-row: 3;
  }

  header {
    margin: 20px 10px 0;
    padding: 20px 10px 0;
  }

  header h1 span {
      color: #333;
  }
}


h2 {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  color: #990000;
}
